{% extends 'base.jinja2' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div id="jumbo"></div>

    <div class="container">

        <!-- Example row of columns -->
        <div class="row threeup">
            <div class="col-md-4">
                <a href="/classes">
                    <div class="thumbnail">
                        <img src="{{ static('images/keds7.png') }}"
                             alt="Classes & Instructors">
                        <div class="caption">
                            <h3>Classes & Instructors</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ static('images/keds7.png') }}"
                         alt="Thursday Night Dance Party">

                    <div class="caption">
                        <h3>Thursday Night Dance Party</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ static('images/keds7.png') }}"
                         alt="10 Great reasons to Lindy Hop">
                    <div class="caption">
                        <h3>10 Great reasons to Lindy Hop</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row twoup">
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="{{ static('images/keds7.png') }}"
                         alt="Beginner's Guide">
                    <div class="caption">
                        <h3>Beginner's Guide</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="{{ static('images/keds7.png') }}"
                         alt="Video Recaps & Class Playlists">
                    <div class="caption">
                        <h3>Video Recaps & Class Playlists</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock content %}
