{% extends 'base.jinja2' %}
{% block content %}
    <div class="container">
    {%  for teacher in teachers  %}
        <div class="col-md-3">
            <a href="/classes">
                <div class="thumbnail">
                    <img src="{{ teacher.avatar }}"
                         alt="{{ teacher.user.get_full_name() }}">
                    <div class="caption">
                        <h3>{{ teacher.user.get_full_name() }}</h3>
                        {{ teacher.profile|safe }}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
